<div class="flex">
  <div class="w-1/3">
    <button>+ Disease</button>
  </div>

  <div class="w-1/3 flex justify-center">
    <h3>Diseases</h3>
  </div>
</div>

<div class="mt-4">
  <%= turbo_frame_tag "diseases_index", src: diseases_path, target: "_top" %>
</div>
